
a {
  padding: 0.75rem;
  text-decoration: none;
  background: #747373;
  color: #ffffff;
  border: #e9e9d2 solid 0.5rem;
  margin: 1% auto;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  display: block;
}
a:hover {
  background: #894512;
  color: #ffd000;
  border:#894512 solid 0.5rem;
  font-size: 1.95rem;
}

