h1 {
  color: #8989ef;
}
nav {
  margin: 1% auto;
  padding: 1rem;
}
a {
  padding: 1rem;
  text-decoration: none;
  background: #8989ef;
  color: #fefefe;
  border: #e9e9d2 solid 0.25rem;
  margin: 0 1rem 0 1rem;
  border-radius: 5rem;
  font-size: 2rem;
}
a:hover {
  background: #cf2332;
  color: #ffff00;
  border: #cf2323 solid 0.25rem;
}
