label {
  color: #343434;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .25rem;
  margin-top: 1%;
  background: #efefef;
  color: #343434;
  border: #232323 solid 0.2rem;
  border-radius: 0.25rem;
}
input:hover {
  background: #895656;
  color: #ffd000;
}
button {
  margin: 0.5rem 0.25rem 0 0.25rem;
  background-color: #efefef;
  color: #232323;
  border: #232323 solid 0.2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 110px;
}
button:hover {
  background: #cf2332;
  color: #ffff00;
  border: #782332 solid 0.2rem;
}
button:disabled {
  background: #afafaf;
  color: #686868;
  cursor: auto;
}

.exit {
  background: #cfcf33;
  color: #801111;
}
.exit:hover {
  background: #cfcfcf;
  color: #232323;
  border: #898989 solid 0.2rem;
}
.destroy {
  background: #cf2332;
  color: #ffff00;
}
.destroy:hover {
  background: #cfcfcf;
  color: #232323;
  border: #898989 solid 0.2rem;
}

