
button {
  margin-bottom: 1.5rem;
  background-color: #cfcf33;
  color: #801111;
  padding: 1rem;
  border-radius: .5rem;
  box-shadow: rgba(1, 1, 1, 0.5);
  font-size: 1rem;
}
button:hover {
  background-color: #cfcfcf;
  color: #2c2c2c;
}
button:disabled {
  background-color: #afafaf;
  color: #686868;
  cursor: auto;
}

