
button {
  margin-bottom: 1.5rem;
  background: #cfcf33;
  color: #801111;
  border: #232323 solid 0.2rem;
  padding: 1rem;
  border-radius: .5rem;
  font-size: 1rem;
}
button:hover {
  background: #cfcfcf;
  color: #232323;
}
button:disabled {
  background: #afafaf;
  color: #686868;
  cursor: auto;
}

